{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<html>
<body style="background-color:#eaffdf;">
 <div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="mt-2">{% trans "Foro - ¡Opina sobre tu viaje!" %}</h1>
      <hr class="mt-0 mb-4">
    </div>
  </div>


<div id="disqus_thread"></div>
<script>

    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://incluyeme.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

      </table>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
     <td class="text-center"><a class="btn btn-primary btn-block" href="{% url 'index' %}" role="button">{% trans "Volver atrás" %}</a></td>
   </div>
   <div class="col-4"></div>
 </div>



</div>
</body>
</html>
{% endblock %}
