

{% load i18n %}

{% load crispy_forms_tags %}
<html lang="es">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Ubicación</title>
</head>
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="mt-2", align="center">{% trans "Ubicación del terminal" %}</h1>
				<hr class="mt-0 mb-4">
			</div>
  </div>

	<div class="row justify-content-center">

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13315.590565259325!2d-70.68834077672119!3d-33.45197320845487!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b9be22dd33b4d73!2sTerminal+Alameda+Santiago!5e0!3m2!1ses!2scl!4v1559696741750!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
     <td class="text-center"><a class="btn btn-primary btn-block" href="Protocolo" role="button">{% trans "Volver atrás" %}</a></td>
   </div>
</div>


</body>
</html>
