{% block content %}
{% load i18n %}
{% load crispy_forms_tags %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<html>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<h1 class="mt-2" align="center">{% trans "Banco Estado" %}</h1>
				<hr class="mt-0 mb-4">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="form-group">
					<label for="exampleInputPassword1">Monto Disponible en la cuenta</label>
					<input class="form-control" id="exampleInputPassword1" value="$100.000"  >
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="form-group">
					<label for="exampleInputPassword1">Valor a pagar</label>
					<input class="form-control" id="exampleInputPassword1" value="${{ Subasta.ValorSubastaActualizado }}"  disabled>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="form-group">
					<label for="exampleInputPassword1">Ingrese 3ra Clave</label>
					<input class="form-control" type="password" id="exampleInputPassword1" placeholder=""  >
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-md-4 col-lg-2">        
				<a class="btn btn-success btn-block" href="/subasta/SubastaResultado/{{ Subasta.pk }}/" role="button">Hacer Pago</a>
			</div>
		</div>
	</body>
	</html>
	{% endblock %}