{% extends 'pagStatic/header.html' %}

{% load crispy_forms_tags %}
<html lang="en">
  

  <body>
    {% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Landing Page</h1>
          
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
              <button class="btn btn-primary btn-xs mr-1" type="button">Mi Perfil</button>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
              <button class="btn btn-primary btn-xs mr-1" type="button">Ubicacion</button>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
              <button class="btn btn-primary btn-xs mr-1" type="button">Subastas</button>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
